body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 5rem;
  font-family: Arial, sans-serif;
  color: #fff;
  background-size: cover;
  background-position: center;
}

#timer-container {
  position: relative;
  width: 330px;
  height: 300px;
  margin: auto;
  margin-top: calc(50vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px #000;
  background-image: url('./images/image.png');
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

#timer-input {
  font-size: 2rem;
  margin-top: 1rem;
}

#start-button {
  font-size: 2rem;
  margin-top: 1rem;
  padding: 10px 60px;
  background: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}

#menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}

#profile-button {
  font-size: 1rem;
  width: 30px;
  height: 30px;
  background-image: url('./images/profile.png');
  background-size: cover;
  background-position: center;
}
#settings-button {
  font-size: 1rem;
  width: 30px;
  height: 30px;
  background-image: url('./images/settings.png');
  background-size: cover;
  background-position: center;
  
}

#block-button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  background-color: #fff;
  color: #000;
}

#list {
  margin-top: 2rem;
  list-style-type: none;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  padding: 0;
  position: absolute;
  background-color: rgb(0, 0, 0);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-size: 5rem;
  font-family: Arial, sans-serif;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.popup {
  width: 400px;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale (0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.2s ease-in-out;
}
.open-popup{
  visibility: visible;
  transform: translate(-50%, -50%) scale (1);
}

.popup img{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rbga(0, 0, 0, 0.2);
}

.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rbga(0, 0, 0, 0.2);
}