body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 5rem;
  font-family: Arial, sans-serif;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-image: url('./images/background.jpg');
}

#timer-container {
  position: absolute;
  width: 330px;
  height: 300px;
  top: 10%;
  left: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px #000;
  background-image: url('./images/image.png');
  background-size: cover;
  background-position: center;
}

#timer-input {
  font-size: 2rem;
  margin-top: 1rem;
}

#start-button {
  font-size: 2rem;
  margin-top: 1rem;
  padding: 10px 60px;
  background: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}

#menu {
  position: absolute;
  top: 0;
  right: 0;
}

#profile-button {
  font-size: 1rem;
  width: 30px;
  height: 30px;
  background-image: url('./images/profile.png');
  background-size: cover;
  background-position: center;
}
#settings-button {
  font-size: 1rem;
  width: 30px;
  height: 30px;
  background-image: url('./images/settings.png');
  background-size: cover;
  background-position: center;
  
}

#score {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  font-size: 1rem;
  border: none;
  background-color: #fff;
  color: #000;
}




#list {
  margin-top: 2rem;
  list-style-type: none;
  padding: 0;
  text-align: center;
  position: absolute;
  background-color: rgb(0, 0, 0);
}

.urlList{
  width: 320px;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 10%;
  text-align: center;
  padding: 2px;
  color: #333;
  border: 1px solid black;
  
}
.taskList {
  width: 320px;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  right: 10%;
  text-align: center;
  padding: 2px;
  color: #333;
  border: 1px solid black;
  
}
.urlList h2, .taskList h2 {
  font-size: 28px;
  font-weight: 500;
  margin: 20px 0 10px;
  margin-bottom: x;
}
.urlList li, .taskList li {
  font-size: 20px;
  font-weight: 100;
  margin-top: 2px ;
  margin-bottom: 2px ;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-size: 5rem;
  font-family: Arial, sans-serif;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.popup {
  width: 320px;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 20px;
  color: #333;
  visibility: hidden;
  transition: transform 0.2s, visibility 0.2s;
  border: 1px solid black;
}

.open-popup {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
.popup img {
  width: 80px;
  margin-top: -40px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
  font-size: 28px;
  font-weight: 500;
  margin: 20px 0 10px;
}

.popup button {
  width: 100%;
  margin-top: 30px;
  padding: 10px 0;
  background: #505250;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.popupSettings {
  width: 1000px;
  height: 600px;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 20px;
  color: #333;
  visibility: hidden;
  transition: transform 0.2s, visibility 0.2s;
  border: 1px solid black;
}

.open-popup {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.popupSettings img {
  width: 80px;
  margin-top: -40px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popupSettings h2 {
  font-size: 28px;
  font-weight: 500;
  margin: 20px 0 10px;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: red;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}